[submodule "packages/contexture"]
	path = packages/contexture
	url = https://github.com/eusebe/typst-contexture.git
[submodule "packages/palimpsest"]
	path = packages/palimpsest
	url = https://github.com/eusebe/typst-palimpsest.git
[submodule "packages/colophon"]
	path = packages/colophon
	url = https://github.com/eusebe/typst-colophon.git
[submodule "packages/checkitoff"]
	path = packages/checkitoff
	url = https://github.com/eusebe/typst-checkitoff.git
